 /* 3.3- Portifolio Section */

.portifolio {}

.portifolio-content {}

.portifolio-item {
    width: 32%;
    position: relative;
    padding: 20px;
}

.portifolio-item img {
    width: 100%;
}

/* معناه اي عنصر فيه اسماء هذين الكلاسين */
.portifolio-item.mg {
    margin: 0 2%;
}

.portifolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    /* هذا الكلاس يكون مخفي ولا يوجد له مكان الا حين التأشير على العنصر */
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s,
        visibility .7s;

}

.portifolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.layer-content .layer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.layer-content .category {
    display: block;
    color: var(--mainColor);
    margin-bottom: 5px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s, opacity .6s, visibility .6s;
    transition-delay: .2s;
}

.layer-content-title {
    font-size: 20px;
    color: var(--whiteColor);
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s,
        opacity .7s,
        visibility .7s;
    transition-delay: .3s;

}

.layer-content a {
    /* حتى العناصر تتراصف جنب بعض وتاخذ صفة بلوك */
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s,
        opacity .8s,
        visibility .8s;
    transition-delay: .4s;


}

/* طريقة توسيط العنصر داخل عنصر اخر بشكل عمودي */
.layer-content a i {
    /* نفس حجم الطول للعنص الاب وهنا a */
    line-height: 40px;
    /* ممكن نختصر الكود اعلاه في 
    /* حتى العناصر تتراصف جنب بعض وتاخذ صفة بلوك 
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    
    */
    color: var(--whiteColor);
}

/* عمل افكت صعود عناصر المحتوى من الاسفل للاعلى بمقدار 10 بكسل */
.portifolio-item:hover .layer-content .category,
.portifolio-item:hover .layer-content-title,
.portifolio-item:hover .layer-content a {
    top: 0;
    opacity: 1;
    visibility: visible;
}
