/* 3.4- Service Section */

.service-item {
    width: 50%;
}

.service-item .section-header {
    text-align: left;
}

.service-item .section-header .line {
    margin: 0 0 50px 0;
    ;
}

.sevice-item-desc {
    padding-right: 20px;
    color: var(--grayColor);
    font-size: 17px;
    line-height: 1.5;
}

.service-list {
    list-style: none;
}

.service-list li {
    color: var(--grayColor);
}

.service-list li i {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;

}

.service-item-img img {
    width: 100%;
}

.service-bollets {
    list-style: none;
    text-align: center;
}

.service-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background .5s;
}

.service-bollets li.active {
    background: var(--mainColor);
}

.service-bollets li:hover {
    background: var(--mainColor);
}
